<div class="c-dashboard">
  <div class="c-filters__container">
    <div class="search_input_and_container">
      <input
        type="text"
        ng-change="onChange()"
        ng-model="searchedValue"
        placeholder="search"
      />
      <button class="clear_button" ng-click="clear()">Clear</button>
    </div>
  </div>

  <employees-list
    employees-list="homePageVm.employees"
    searched-value="homePageVm.searchedValue"
  ></employees-list>

  <div class="c-dashboard__footer">
    <button
      class="c-button"
      ng-click="loadMore()"
      ng-if="homePageVm.loadingButton === false"
    >
      Load More
    </button>
    <div class="page__indicator" ng-if="homePageVm.numerOfPages !== 0">
      <h4>{{homePageVm.pageNumber}} / {{homePageVm.numerOfPages}}</h4>
    </div>
  </div>
</div>
